/**
 * H1 to H6, Subheadings, Captions and Body Text Styles
 */

 @mixin text-style-display-headline-display() {
  font-family: $font-heading;
  font-style: normal;
  font-size: 60px;
  font-weight: 600;
  line-height: 64px;

  @include media-breakpoint-up(md) {
    font-size: 80px;
    font-weight: 600;
    line-height: 88px;
  }
}

@mixin text-style-headline-h-1() {
  font-family: $font-heading;
  font-style: normal;
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;

  @include media-breakpoint-up(md) {
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
  }
}

@mixin text-style-headline-h-2() {
  font-family: $font-heading;
  font-style: normal;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;

  @include media-breakpoint-up(md) {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
  }
}

@mixin text-style-headline-h-3() {
  font-family: $font-heading;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;

  @include media-breakpoint-up(md) {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }
}

@mixin text-style-headline-h-4() {
  font-family: $font-heading;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;

  @include media-breakpoint-up(md) {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}

@mixin text-style-headline-h-5() {
  font-family: $font-heading;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;

  @include media-breakpoint-up(md) {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
}

@mixin text-style-subheadline-sub-1() {
  font-family: $font-heading;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  @include media-breakpoint-up(md) {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
}

@mixin text-style-subheadline-sub-2() {
  font-family: $font-heading;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

@mixin text-style-body-body-1() {
  font-family: $font-body;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }
}

@mixin text-style-body-body-2() {
  font-family: $font-body;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

@mixin text-style-caption-caption-1() {
  font-family: $font-heading;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  @include media-breakpoint-up(md) {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
  }
}

@mixin text-style-eyebrow-eyebrow-1() {
  font-family: $font-heading;
  font-style: normal;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.3125rem;

  @include media-breakpoint-up(md) {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.3125rem;
  }
}

@mixin text-style-eyebrow-large() {
  font-family: $font-heading;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 5px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 16px;
  }
}

@mixin text-style-card-headline-h-5() {
  color: $text-colors-body-color;
  font-family: $font-heading;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

/**
 * BUTTONS TEXT STYLES
 */
@mixin text-style-button-large() {
  font-family: $font-body;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }
}

@mixin text-style-button-medium() {
  font-family: $font-body;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

  @include media-breakpoint-up(md) {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }
}

@mixin text-style-button-small() {
  font-family: $font-body;
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  line-height: 12px;

  @include media-breakpoint-up(md) {
    font-size: 13px;
    font-weight: 600;
    line-height: 12px;
  }
}


@mixin text-style-breadcrumbs() {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

@mixin text-style-testimonial-name() {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -0.176px;
}