$banner-height-desktop-lg: 584px;
$banner-height-desktop-sm: 420px;

$banner-height-tablet-lg: 480px;
$banner-height-tablet-sm: 400px;

$banner-height-mobile-lg: 282px;
$banner-height-mobile-sm: 232px;

@mixin banner-background() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
  opacity: 1;
  transition: all 0.3s linear;
  background-size: cover;
}

.banner-background, 
.smaller-banner .banner-background {
  overflow: hidden;
  
  .banner-title {
    @include text-style-display-headline-display;
    margin: 0 0 $padding-padding-xxs 0;
  }

  .banner-body {
    @include text-style-subheadline-sub-1;
  }

  .banner-content {
    padding: 0;
  }

  .banner-links {
    margin-top: 48px;
    .field--name-field-provus-links {
      display: flex;
      column-gap: $padding-padding-xxlg;
    }
  }

  &.banner-color-primary {
    background-color: $primary;

    .banner-content {
      h1, p, .subheading {
        color: $text-contrast;
      }
    }

    .btn-default {
      @include button-outlined;
    }
  }

  &.banner-color-secondary {
    background-color: $secondary;

    .banner-content {
      h1, p, .subheading {
        color: $text-contrast;
      }
    }

    .btn-default {
      @include button-outlined;
    }
  }

  &.banner-color-light {
    background-color: $background-colors-background-lightteal;

    .btn-default {
      @include button-primary;
    }
  }

  &.banner-color-dark {
    background-color: $primary-accent;

    .banner-content {
      h1, p, .subheading {
        color: $text-contrast;
      }
    }

    .btn-default {
      @include button-outlined;
    }
  }

  &.image-full {
    .banner-image-container {
      @include banner-background();
    }
  }

  .banner-image-container {
    height: $banner-height-mobile-lg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      height: $banner-height-tablet-lg;
    }

    @include media-breakpoint-up(lg) {
      height: 100%;
      @include banner-background();

      &.position-left {
        width: 50%;
        height: 100%;
      }

      &.position-right {
        width: 50%;
        right: 0;
        left: unset;
        height: 100%;
      }
    }
  }
}

.banner-background {
  @include breakout;

  .gin--vertical-toolbar & {
    margin-left: 0;
  }

  .banner-inner {
    display: flex;
    align-items: center;
    .banner-img {
      height: unset;

      @include media-breakpoint-up(lg) {
        height: $banner-height-desktop-lg;
      }
    }
  }

  &.image-full {
    .banner-inner {
      height: unset;

      @include media-breakpoint-up(sm) {
        height: $banner-height-tablet-lg;
      }

      @include media-breakpoint-up(lg) {
        height: $banner-height-desktop-lg;
      }
      
      .banner-content {
        padding: $padding-padding-xxlg;
        @include media-breakpoint-up(lg) {
          padding: 0;
        }

        position: relative;
        width: 100%;
        h1, p, .subheading {
          color: $text-contrast;
          text-shadow: 0px 0px 10px #00000025;
        }
      }
      .banner-img {
        position: absolute;
        right: 0;
        left: 0;
      }
    }
  }

  &.image-left, &.image-right {
    .banner-inner {
      height: auto;

      @include media-breakpoint-up(lg) {
        height: $banner-height-desktop-lg;
      }
    }
    .banner-img {
      position: relative;
      overflow: hidden;
    }
  }

  &.image-left {
    .banner-content-body {
      padding: $padding-padding-xxlg;

      @include media-breakpoint-up(lg) {
        padding: $padding-padding-md;
        padding-left: 100px;
      }
    }
  }

  &.image-right {
    .banner-content-body {
      padding: $padding-padding-xxlg;

      @include media-breakpoint-up(lg) {
        padding-left: 0px;
        padding-right: 100px;
        padding-top: $padding-padding-md;
        padding-bottom: $padding-padding-md;
      }
    }
  }
}

.smaller-banner .banner-background {
  @include breakout;

  .gin--vertical-toolbar & {
    margin-left: 0;
  }

  .banner-image-container {
    height: $banner-height-mobile-sm;

    @include media-breakpoint-up(sm) {
      height: $banner-height-tablet-sm;
    }
  }

  .banner-inner {
    display: flex;
    align-items: center;
    .banner-img {
      height: auto;

      @include media-breakpoint-up(lg) {
        height: $banner-height-desktop-sm;
      }
    }
  }

  .banner-links {
    .field--name-field-provus-links {
      display: flex;
      column-gap: $padding-padding-md;
    }
  }

  &.image-full {
    .banner-inner {
      height: unset;
      
      @include media-breakpoint-up(md) {
        height: $banner-height-tablet-sm;
      }

      @include media-breakpoint-up(lg) {
        height: $banner-height-desktop-sm;
        padding: 0;
      }
    }
  }

  &.image-left, &.image-right {
    .banner-inner {
      height: unset;

      @include media-breakpoint-up(lg) {
        height: auto;
      }

      .banner-img {
        height: unset;
      }
    }
    
    .banner-img {
      position: relative;
      overflow: hidden;

      @include media-breakpoint-up(sm) {
        height: $banner-height-tablet-sm;
      }

      @include media-breakpoint-up(lg) {
        height: $banner-height-desktop-sm;
      }
    }
  }
}
