.list-wrapper {
  .list-style {
    &.icon-left, &.icon-right {
      .list {
        align-items: flex-start;
        margin-bottom: rem-calc(18);
        &-icon {
        }
        &-text {
          padding-left: $padding-padding-sm;
          padding-top: $padding-padding-xxxs;
        }
      }
    }

    &.icon-right {
      .list {
        flex-direction: row-reverse;
        text-align: right;
        &-icon {
        }
        &-text {
          padding-right: $padding-padding-sm;
        }
      }

      @include media-breakpoint-up(sm) {
        .row-cols-sm-3 > * {
          width: 100%;
        }
      }

      @include media-breakpoint-up(lg) {
        .row-cols-sm-3 > * {
          width: 33%;
        }
      }
    }

    &.icon-top {
      .list {
        flex-direction: column;
        align-items: center;
        text-align: center;
        &-text {
          width: 100%;
          padding-top: $padding-padding-sm;
        }
      }
      &.grid_3 {
        .list {
          .list-icon {
            margin-right: 0;
          }
        }
      }
    }

    &.column-row {
      .row {
        flex-wrap: wrap;
        justify-content: space-between;
        @include media-breakpoint-up(lg) {
          flex-wrap: nowrap;
        }
        > div {
          width: auto;
        }
      }
    }

    .list {
      display: flex;
      margin-bottom: rem-calc(18);
      
      &-icon {
        overflow: hidden;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        color: $text-colors-body-color;

        max-width: 50px;
        width: 100%;
        height: 100%;
        font-size: 32px;
        @include media-breakpoint-up(md) {
          font-size: 40px;
        }

        svg {
          width: 32px;
          
          @include media-breakpoint-up(md) {
            width: 40px;
          }
        }
      }

      &-text {
        @include text-style-headline-h-5();
        color: $text-primary;
        margin: 0;
        &-text {
          @include text-style-body-body-1();
          color: $text-colors-text-primary;
        }
      }
      

      p {
        margin: 0;
      }
    }

    a, &.icon-right a {
      text-decoration: none;
    }

    @include media-breakpoint-up(md) {
      a, &.icon-right a {
        .list {
          transition: all .5s;

          &:hover {
            margin-left: 16px;
    
            .list-text-title {
              text-decoration: underline;
            }
          }
        }
      }

      &.icon-right a {
        .list {
          &:hover {
            margin-right: 16px;
            margin-left: 0;
          }
        }
      }
    }
  }
}
