// Stat Group styling
.block-provus-stat-group  {
  .row {
    margin-bottom: $padding-padding-xxs;
    .col {
      text-align: center;
      border-right: 0;
      flex: 1 0 100%;
      &:last-child .stat-group-text, &:nth-last-child(2) .stat-group-text {
        margin-bottom: $padding-padding-lg !important;
      }

      @include media-breakpoint-up(md) {
        flex: 1 0 50%;
        text-align: center;
        margin-bottom: $padding-padding-xlg;

        &:nth-child(even) {
          border-right: 0;
        }

        &:nth-child(odd) {
          border-right: 2px solid $background-colors-background-grey;
        }

        &:last-child {
          border-right: 0;
        }
      }

      @include media-breakpoint-up(lg) {
        text-align: center;
        flex: 1 0 0%;
        &:not(:last-child) {
          border-right: 2px solid $background-colors-background-grey;
        }
      }

      &:nth-child(odd) .stat-group-item {
        color: $primary;
      }

      &:nth-child(even) .stat-group-item {
        color: $primary-accent;
      }

      .stat-group-item {
        .stat-group-icon {
          font-size: $h1-font-size;

          @include media-breakpoint-down(md) {
            margin-bottom: $padding-padding-md;
            @include text-style-display-headline-display();
          }
        }

        .stat-group-text {
          margin: 0 0 $padding-padding-xxs 0;
          color: $text-secondary;
          @include text-style-headline-h-5();

          @include media-breakpoint-down(md) {
            margin-bottom: $padding-padding-xlg;
          }
        }

        .stat-group-number {
          margin: $padding-padding-xs 0 $padding-padding-xxs 0;
          @include text-style-display-headline-display();

          @include media-breakpoint-down(md) {
            margin-bottom: $padding-padding-xxs;
            @include text-style-headline-h-1();
          }
        }
      }
    }
  }
}

// Section with background image

// Group styles.
.bg-image .block-provus-stat-group  {
  .col {
    text-align: center;
    border-right: 0;
    flex: 1 0 100%;

    @include media-breakpoint-up(md) {
      flex: 1 0 50%;
      text-align: center;
      margin-bottom: $padding-padding-xlg;

      &:nth-child(even) {
        border-right: 0;
      }

      &:nth-child(odd) {
        border-right: 2px solid $background-colors-background-grey;
      }

      &:last-child {
        border-right: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      text-align: center;
      flex: 1 0 0%;

      &:not(:last-child) {
        border-right: 2px solid $background-colors-background-grey;
      }
    }

    &:nth-child(odd) .stat-group-item {
      color: $secondary-accent;
    }

    &:nth-child(even) .stat-group-item {
      color: $background-colors-background-white;
    }

    .stat-group-item {
      .stat-group-icon {
        font-size: $h1-font-size;

          @include media-breakpoint-down(md) {
            @include text-style-display-headline-display();
          }
      }

      .stat-group-text {
        color: $background-colors-background-white;
        @include text-style-headline-h-5();
      }

      .stat-group-number {
        @include text-style-display-headline-display();
        margin: $padding-padding-xs 0 $padding-padding-xxs 0;

         @include media-breakpoint-down(md) {
          margin-bottom: 0;
          @include text-style-headline-h-1();
         }
      }
    }
  }
}
